.container {
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    max-width: 720px;
    margin: 0 auto;
    header {
      width: 100%;
      height: 54px;
      background-color: #4b4fa1;
      padding: 5px 0;
      text-align: center;
      color: white;
      border-radius: 0.5rem 0.5rem 0 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .form {
      width: 480px;
      height: 300px;
      padding: 10px;
      border: 1px solid #4b4fa1;
      border-radius: 0 0 0.5rem 0.5rem;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
      
        button {
        display: block;
        width: 80%;
        padding: 0.75rem 0;
        margin: 30px auto;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        color: #9e9e9e;
      }
    }
  }
}
