.container {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #e5e5e5;
    .logo {
      max-width: 25rem;
      width: 100%;
      height: auto;
    }
    h2 {
      max-width: 21rem;
      margin-top: -3.2rem;
      font-weight: 200;
      margin-left: 5rem;
      color: #444;
      font-size: 1.68rem;
    }
    .responsiveLoginButton {
      display: none;
    }
  }

  main {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .mainContent {
      display: flex;
      flex-direction: column;
      max-width: 20rem;
      width: 100%;
      align-items: stretch;

      .form {
        width: 80%;
        background: #f8f8f8;
        padding: 2rem 4rem;
        border-radius: 0.875rem;
        h2 {
          font-size: 1.5rem;
          margin: 2rem 0 1.5rem;
          text-align: center;
          font-family: sans-serif;
          color: #444;
        }

        input {
          margin-top: 0.875rem;
        }
        .loginButtonForgetPasswordArea {
          display: flex;
          margin-top: 1rem;

          button {
            display: block;
            width: 35%;
            padding: 0.5rem;
            border-radius: 0.875rem;
            border: none;
            background: #8c388c;
            color: #e5e5e5;
          }
          .disabledButton 
          {
            padding: 0.375rem 0.5rem;
            opacity: 0.8;
          }
          .forgetPassword {
            display: block;
            text-align: right;
            font-size: 0.625rem;
            color: #444;
            margin-left: 1.5rem;
          }
        }
        .firstAccessArea {
          font-weight: 300;
          font-size: 0.75rem;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
    aside {
      min-height: 100vh;
      width: 100%;
      .responsiveLoginButton {
        display: block;
        padding: 0.5rem;
        width: 30%;
        border-radius: 0.875rem;
        border: none;
        background: #8c388c;
        margin-top: 1.5rem;
        color: #ececec;
      }
    }

    main {
      min-height: 100vh;
    }
  }
}
@media (max-width: 500px) {
  .container {
    aside {
      .logo {
        max-width: 23.5rem;
      }
    }
    main {
      margin: 0 auto;
      .mainContent {
        align-items: center;
        justify-content: center;
        .form {
          width: 80%;
          margin: 0;
          padding: 2rem 2.5rem;
        }
      }
    }
  }
}
