.input {
  display: block;

  width: 100%;
  height: 32px;
  border-radius: 0.25rem;
  border: 1px solid #9e9e9e;
  padding-left: 3%;
  margin-left: -1.5%;
  ::placeholder {
    color: #9e9e9e;
  }
}
.inputError {
  display: inline-block;
  width: 100%;
  height: 32px;
  border-radius: 0.25rem;
  border: 1px solid red;
  padding-left: 3%;
  margin-left: -1.5%;
}
.error {
  align-self: flex-start;
  margin-top: 5px;
  color: red;
  font-size: 0.875rem;
}
