.container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .pageTitleArea {
    display: flex;
    justify-content: space-between;
    .title {
      display: flex;
      align-items: center;
      font-family: "Spartan", sans-serif;

      padding: 2rem;
      h2 {
        margin-right: 0.5rem;
        font-size: 2rem;
        font-weight: 400;
      }
      a {
        display: flex;
        margin-top: 4px;
      }
    }
    .office {
      display: flex;
      align-items: center;
      min-width: 18%;
      img {
        max-width: 1.75rem;
        max-height: 1.75rem;
      }
      p {
        font-size: 1.5rem;
        color: #990099;
        font-weight: 500;
      }
    }
  }
  .main {
    display: flex;
    align-items: stretch;
    .calendarArea {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      h3 {
        font-size: 1rem;
        font-weight: 400;
        color: #990099;
      }
      p {
        font-size: 1rem;
        color: #990099;
        img {
          height: 1.2rem;
        }
      }
    }
    .schedulingOptionsMapArea {
      flex: 8;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 1rem;
        font-weight: 400;
        color: #990099;
      }
      .schedulingOptionsAndMapContainer {
        display: flex;
        align-items: stretch;
        margin-top: 1.5rem;
        .selectionArea {
          flex: 2;
          label {
            display: flex;
            flex-direction: column;
            width: 40%;
            select {
              border-radius: 1.3rem;
              font-size: 1.3rem;
              text-align: center;
              color: #6699cc;
              background-color: #ffffff !important;
              margin-top: 0.3rem;
            }
          }
        }
        .mapArea {
          flex: 3.5;
          border: 1px solid #e5e5e5;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          padding: 1.5rem 0.5rem;
          img {
            max-width: 100%;
            height: auto;
          }
          &.mapAreaOpacity {
            opacity: 30%;
          }
        }

        .schedulingButtonArea {
          flex: 1.5;
          button {
            color: #5a5a5a;
            background: none;
            border: none;
            margin-left: 1rem;
          }
          .buttonOpacity {
            opacity: 30%;
          }
        }
      }
    }
  }
}
