.container {
  display: flex;
  align-items: stretch;
  height: 100vh;
  margin-top: 2rem;
  aside {
    flex: 7;
    display: flex;
    align-items: center;

    flex-direction: column;

    .descriptionArea {
      color: #444;
      font-size: 1.5rem;
      width: auto;
      margin-left: 4rem;
      margin-bottom: 2rem;
    }
    .womanAndACalendar {
      max-width: 40rem;
      max-height: 32rem;
    }
  }

  main {
    flex: 8;
    display: flex;
    align-items: center;
    flex-direction: column;
    .mainContent {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 20rem;
      align-items: stretch;
      form {
        max-width: 100%;
        background: #f8f8f8;
        padding: 0 2rem;
        border-radius: 0.875rem;
        h2 {
          font-size: 1.5rem;
          margin: 2rem 0 1.5rem;
          text-align: center;
          font-family: sans-serif;
          color: #444;
        }

        input {
          margin-top: 0.875rem;
        }
        .registerOrLoginArea {
          display: flex;
          justify-content: space-between;
          margin-top: 0.875rem;
          button {
            width: 35%;
            padding: 0.5rem;
            border-radius: 0.875rem;
            border: none;
            background: #8c388c;
            color: #e5e5e5;
          }
          .disabledButton {
            padding: 0.375rem 0.5rem;
            opacity: 0.8;
          }
          p {
            font-size: 0.725rem;
            text-align: right;
          }
        }
      }
      .joinUsArea {
        max-width: 100%;
        margin-top: 0.875rem;
        h2 {
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
        ul {
          li {
            font-family: "WorkSans", sans-serif;
            font-weight: 400;
            list-style-type: none;
          }
        }
      }
      .womanAndACalendarMobile {
        display: none;
      }
    }
  }
}

@media (max-width: 850px) {
  .container {
    flex-direction: column;
    height: none;
    overflow: hidden;
    aside {
      .womanAndACalendar {
        display: none;
      }
      .descriptionArea {
        margin: 1rem 2rem;
      }
    }
    main {
      overflow-y: auto;
      .mainContent {
        width: 80%;
        .womanAndACalendarMobile {
          display: block;
        }
      }
    }
  }
}
