.container {
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    max-width: 720px;
    margin: 0 auto;
    header
    {
      padding: 20px 0;
      h1
      {
        font-size: 1.5rem;
        color: #9e9e9e;
        text-align: center;
      }
    }
    .form {
      width: 480px;
      min-height: 300px;
      padding: 0;
      border: 2px solid #4b4fa1;
      border-radius: 0.5rem ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button {
        display: block;
        width: 80%;
        padding: 0.75rem 0;
        margin: 30px auto;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        color: #9e9e9e;
      }
    }
  }
}
