* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: #ffffff;
  font-family: 'Spartan', sans-serif;
}
input, placeholder, select, textarea{
  font-family: 'WorkSans', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}
